a.cta {
  color: var(--primary-color);
  background-color: var(--accent-color);
  padding-inline: var(--space-8);
  padding-block: var(--space-4);
  width: 160px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  text-align: center;
  font-family: var(--font-heading);
  border-radius: var(--space-2);
  box-shadow: var(--shadow);
  will-change: box-shadow;
  transition: box-shadow 0.3s ease;
}
a.cta:active {
  outline: 2px solid var(--primary-color);
}
a.cta svg {
  width: 36px;
  height: auto;
}
.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.logoAccent {
  color: var(--accent-color);
}
h1 {
  align-self: center;
  font-size: calc(4rem + 0.1vw);
}

.secondChild {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  align-items: center;
  flex-wrap: wrap;
}

p {
  max-width: 50ch;
}

.heroPara {
  text-align: center;
}

.codeCta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.componentsSection {
  background: var(--bg-light);
}

.badgesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-16);
  padding-block: var(--space-4);
}

.componentBadge {
  aspect-ratio: 1 / 1;
  width: 192px;
  height: auto;
  border-radius: 999rem;
  padding: var(--space-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  background-color: var(--primary-color);
  color: var(--bg-light);
  box-shadow: var(--shadow);
}

.componentSymbol{
  color: var(--accent-color);
  font-family: var(--font-heading);
  font-size: calc(2.5rem + 0.1vw);
}

@media (hover: hover) {
  a.cta:hover {
    box-shadow: var(--shadow-hover);
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: calc(6rem + 0.1vw);
  }

  .secondChild {
    display: flex;
    flex-direction: row;
    gap: var(--space-8);
    align-items: center;
    justify-content: space-evenly;
  }

  .codeCta {
    flex-direction: row;
    gap: var(--space-16);
  }

  .badgesContainer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
