.cta {
  background-color: var(--secondary-color);
  padding-inline: var(--space-4);
  padding-block: var(--space-2);
}
.container{
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.logoAccent{
  color: var(--accent-color);
}
