.productsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

section.splitLayout {
  padding-block: var(--space-8);
}

.checkOutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  padding-block: var(--space-8);
  background-color: var(--bg-light);
  border-radius: var(--space-2);
  box-shadow: var(--shadow);
  max-height: fit-content;
  position: sticky;
  top: var(--space-4);
}

.sum {
  font-weight: bold;
  color: var(--primary-color);
  font-size: calc(1.2rem + 0.1vw);
}

.btnsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
  margin-top: var(--space-4);
  padding-inline: var(--space-8);
}

.btnsContainer button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  padding-inline: var(--space-8);
  padding-block: var(--space-4);
  width: 192px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
  text-align: center;
  border-radius: var(--space-1);
  will-change: opacity;
  transition: opacity 0.3s ease;
}

.btnsContainer button svg {
  width: var(--space-8);
  height: auto;
}

.btnsContainer button:active {
  outline: 2px solid var(--primary-color);
}

button.checkout {
  color: var(--primary-color);
}

button.checkout:disabled,
button.deleteAll:disabled {
  opacity: 0.8;
  cursor: default;
}

button.deleteAll {
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
}

.emptyMsg {
  color: var(--primary-color);
  font-weight: bold;
  font-size: calc(1.2rem + 0.1vw);
}

.thankYouContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-16);
  padding-top: var(--space-16);
}

.thankYouMsg {
  color: var(--primary-color);
  font-weight: bold;
  font-size: calc(1.2rem + 0.1vw);
}

a.goHomeLink {
  color: var(--primary-color);
  background-color: var(--accent-color);
  padding-inline: var(--space-8);
  padding-block: var(--space-4);
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  text-align: center;
  font-family: var(--font-heading);
  border-radius: var(--space-2);
  box-shadow: var(--shadow);
  will-change: box-shadow;
  transition: box-shadow 0.3s ease;
}

a.goHomeLink:active {
  outline: 2px solid var(--primary-color);
}

@media (hover: hover) {
  a.goHomeLink:hover {
    box-shadow: var(--shadow-hover);
  }
}

@media (min-width: 1024px) {
  .splitLayout {
    grid-template-columns: 2fr 1fr;
  }
}

@media (hover: hover) {
  .btnsContainer button:hover {
    opacity: 0.8;
  }
}
