.card {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-8);
  padding-block: var(--space-8);
  box-shadow: var(--shadow);
  border-radius: var(--space-2);
}

.card > * {
  padding: var(--space-4);
}

.productName {
  display: flex;
  align-items: center;
  font-size: calc(1rem + 0.1vw);
}

.card img {
  object-fit: contain;
  aspect-ratio: 1 / 1;
  width: 64px;
  height: auto;
  flex: 1;
  transform: scale(2.5);
}

.description {
  background: var(--bg-dark);
  min-width: 100%;
  font-size: calc(0.8rem + 0.1vw);
  height: 96px;
  overflow-y: auto;
  border-block: 1px solid var(--accent-color);
}

.price {
  font-weight: bold;
  font-size: calc(1.2rem + 0.1vw);
  color: var(--primary-color);
}

.added {
  font-weight: bold;
  font-size: calc(1.2rem + 0.1vw);
  color: var(--accent-color);
}

.purchaseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
}

.addBtn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  border-radius: var(--space-1);
  font-size: calc(0.9rem + 0.1vw);
  transition: opacity 0.3s ease;
}

.addBtn svg {
  width: 32px;
}

.addBtn:active {
  outline: 2px solid var(--primary-color);
}

.plusMinus {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  border-radius: 999rem;
  transition: opacity 0.3s ease;
  background-color: transparent;
}

.plusMinus svg {
  width: 40px;
  height: auto;
}

.plusMinus:active {
  outline: 2px solid var(--primary-color);
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
}

input {
  width: 76px;
  border: none;
  padding-left: var(--space-8);
  padding-block: var(--space-2);
  border-radius: var(--space-1);
}

@media (hover: hover) {
  .addBtn:hover,
  .plusMinus:hover {
    opacity: 0.8;
  }
}
