:root {
  --space-xs: 2px;
  --space-s: 4px;
  --space-m: 8px;
  --space-l: 16px;
  --space-xl: 32px;

  --space-xs-static: 6px;
  --space-s-static: 12px;
  --space-m-static: 24px;
  --space-l-static: 48px;
  --space-xl-static: 96px;
}

@media (min-width: 768px) {
  :root {
    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 32px;
    --space-xl: 64px;
  }
}

@media (min-width: 1024px) {
  :root {
    --space-xs: 6px;
    --space-s: 12px;
    --space-m: 24px;
    --space-l: 48px;
    --space-xl: 96px;
  }
}

@media (min-width: 1920px) {
  :root {
    --space-xs: 8px;
    --space-s: 16px;
    --space-m: 32px;
    --space-l: 64px;
    --space-xl: 128px;
  }
}
