/* Update urls of fonts or remove below imports if not using external fonts */
@font-face {
  font-family: 'main-font';
  src: url(./assets/fonts/Roboto-Regular.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'headings-font';
  src: url(./assets/fonts/NakedPower-Bold.woff2) format('woff2');
  font-display: swap;
}

:root {
  --space-base: 4px;
  --space-1: calc(var(--space-base) * 1);
  --space-2: calc(var(--space-base) * 2);
  --space-3: calc(var(--space-base) * 3);
  --space-4: calc(var(--space-base) * 4);
  --space-6: calc(var(--space-base) * 6);
  --space-8: calc(var(--space-base) * 8);

  --font-body:
    'main-font', system-ui, -apple-system, Segoe UI, Oxygen, Ubuntu, sans-serif;
  --font-heading: 'headings-font', 'Inter', 'Helvetica Neue', Arial, sans-serif;

  --bg-dark: #cac7bc;
  --bg-light: #eee9e1;
  --primary-color: #366969;
  --secondary-color: #c7964f;
  --font-color: #1e2a2a;

  /* --gradient-section: ; */
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
}
#root {
  font-family: var(--font-body);
  font-size: calc(0.9rem + 0.2vw);
  color: var(--font-color);
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  min-height: 100dvh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--primary-color);
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: inherit;
}
svg {
  height: 24px;
  fill: var(--font-color);
}
button {
  background-color: var(--secondary-color);
}

header {
  background: var(--primary-color);
  border-radius: 0 0 4px 4px;
  border-bottom: 1px solid var(--secondary-color);
}

footer {
  background: var(--primary-color);
  border-top: 1px solid var(--secondary-color);
  border-radius: 4px 4px 0 0;
}

main {
  flex: 1;
  display: flex;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1920px) {
}

@media (hover: hover) {
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
