@font-face {
  font-family: 'main-font';
  src: url(./assets/fonts/Roboto-Regular.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'headings-font';
  src: url(./assets/fonts/NakedPower-Bold.woff2) format('woff2');
  font-display: swap;
}

:root {
  --space-base: 4px;
  --space-1: calc(var(--space-base) * 1);
  --space-2: calc(var(--space-base) * 2);
  --space-4: calc(var(--space-base) * 4);
  --space-8: calc(var(--space-base) * 8);
  --space-16: calc(var(--space-base) * 16);

  --font-body:
    'main-font', system-ui, -apple-system, Segoe UI, Oxygen, Ubuntu, sans-serif;
  --font-heading: 'headings-font', 'Inter', 'Helvetica Neue', Arial, sans-serif;

  --bg-dark: #cac7bc;
  --bg-light: #eee9e1;
  --primary-color: #366969;
  --accent-color: #c7964f;
  --font-color: #1e2a2a;

  --shadow: 1px 1px 16px hsla(0, 0%, 0%, 0.5);
  --shadow-hover: 4px 4px 16px hsla(0, 0%, 0%, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: var(--accent-color);
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
}
body {
  background-color: var(--bg-dark);
}
#root {
  font-family: var(--font-body);
  font-size: calc(1rem + 0.1vw);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  min-height: 100dvh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--primary-color);
  text-align: center;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: inherit;
}
svg {
  height: 24px;
  fill: currentColor;
}
button {
  background-color: var(--accent-color);
}

header,
section,
footer {
  padding-inline: clamp(6px, 2%, 24px);
}

header {
  background: var(--primary-color);
  border-radius: 0 0 4px 4px;
  border-bottom: 2px solid var(--accent-color);
  padding-block: var(--space-2);
}

footer {
  background: var(--primary-color);
  border-top: 2px solid var(--accent-color);
  border-radius: 4px 4px 0 0;
  padding-block: var(--space-8);
}

main {
  flex: 1;
}

section {
  display: grid;
  gap: var(--space-8);
  padding-block: var(--space-16);
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  section.splitLayout {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
}

@media (min-width: 1920px) {
}

@media (hover: hover) {
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
