.active,
.active:visited {
  color: var(--accent-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: var(--font-heading);
  font-size: calc(1.5rem + 0.1vw);
}
.wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  font-weight: bold;
}
.wrapper svg {
  width: auto;
  height: calc(1.5rem + 0.1vw);
}
.logoAccent {
  color: var(--accent-color);
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge {
  font-size: calc(0.7rem + 0.1vw);
  color: var(--bg-light);
  font-weight: bold;
  position: relative;
  height: 0;
}

@media (min-width: 1024px) {
  .wrapper {
    gap: var(--space-8);
  }
}
